.form {
    &__output {
        height: 150px;
        overflow: auto;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.23);
        padding: 14px;

        &__placeholder {
            opacity: 0.4;
        }
    }
}
