.form {
  &__output {
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 14px;

    &__placeholder {
      opacity: 0.4;
    }
  }
}
